* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --dark-background-color: #1f2937;
  --secondary-text: #e5e7ebb0;
  /* --main-text: 48px extra-bold #f9faf8; */
}

.button {
  background: #3882f6;
  color: #f9faf8;
  text-decoration: none;
  padding: 5px 30px;
  border-radius: 7.5px;
  min-width: 115px;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--dark-background-color);
}

/* Header */
header {
  display: flex;
  justify-content: center;
}

.header-container {
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 10px 0px;
  width: 60%;
}

header h3 {
  font-size: 24px;
}

header a {
  padding: 0 10px 0 10px;
  font-size: 18px;
  text-decoration: none;
  color: var(--secondary-text);
}

/* Section 1 */
main #section-1 {
  padding: 100px 0px 100px 0px;
  display: flex;
  justify-content: center;
}

#section-1 #section-1-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 60%;
}

#section-1 #this-website-is-awesome {
  width: 400px;
  max-width: 400px;
  padding-right: 20px;
}

#section-1 h1 {
  color: #f9faf8;
  font-size: 48px;
}

#section-1 p {
  color: #e5e7ebb0;
  padding: 5px 0 20px 0;
}

#section-1 #placeholder {
  background: #6d747d;
  width: 500px;
  display: flex;
}

#section-1 #placeholder {
  align-items: center;
  justify-content: center;
}

/* Section 2 */
#section-2 {
  background: #f9faf8;
  height: 400px;
}

#section-2-container {
  width: 60%;
}

#section-2 h2 {
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
  font-size: 36px;
}

#section-2 .box-container {
  display: flex;
  justify-content: center;
}

#section-2 .empty-square-with-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 30px 25px 30px;
  margin-top: 10px;
}

#section-2 .empty-square-with-text > div {
  background: #f9faf8;
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 10px;
  margin-bottom: 5px;
}

#section-2 .empty-square-with-text p {
  width: 150px;
}

/* Section 3 */
#section-3 {
  background: #e5e7eb;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-3 #section-3-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 155px;
  width: 60%;
  height: 100%;
}

#section-3 #text-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#section-3 #quote {
  font-style: italic;
  font-size: 2.25rem;
}

#section-3 #thor {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
  font-size: 18px;
  min-width: 250px;
  padding-right: 40px;
}

/* Section 4 */
#section-4 {
  background: #f9faf8;
  height: 300px;
  display: flex;
  justify-content: center;
}

#section-4 #section-4-container {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}

#section-4 #section-4-container #cta {
  background: #3882f6;
  height: 50%;
  border-radius: 10px;
  color: #f9faf8;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 135px;
}

#section-4 #section-4-container #cta .button {
  border: 1px solid;
  border-radius: 5px;
  height: 32.5px;
}

#section-4 #section-4-container #cta #cta-text {
  padding: 10px;
}

/* Footer */
footer {
  height: 100px;
  background: var(--dark-background-color);
  text-align: center;
  color: #f9faf8;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries */

/* Mobile */
@media (min-width: 280px) and (max-width: 480px) {
  /* Header */
  .header-container {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 10px 0px;
    width: 60%;
    padding: 20px 0 0 0;
  }

  .header-container h3 {
    padding-bottom: 20px;
  }

  .header-container nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -80px;
  }

  .header-container nav a {
    padding-bottom: 15px;
  }

  /* Section 1 */
  #section-1 #section-1-container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #section-1 #section-1-container #this-website-is-awesome {
    width: 130%;
    padding-left: 20px;
  }

  #section-1 #section-1-container #this-website-is-awesome h1 {
    width: 100%;
    font-size: 40px;
  }

  #section-1 #section-1-container #placeholder {
    height: 200px;
    margin-top: 50px;
    width: 100%;
    padding: 0px 50px;
  }

  /* Section 2 */
  #section-2 {
    height: 1150px;
  }

  #section-2 .box-container {
    display: flex;
    flex-direction: column;
  }

  #section-2 .empty-square-with-text {
    margin-bottom: -25px;
  }

  /* Section 3 */
  #section-3 #quote {
    font-size: 1.75rem;
  }

  #section-3 #thor {
    padding-right: 0px;
    padding-top: 10px;
  }

  /* Section 4 */
  #section-4 #section-4-container {
    width: 60%;
    min-width: 204px;
  }

  #section-4 #section-4-container #cta {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 30px 10px;
    text-align: center;
    line-height: 2.2;
    height: 80%;
  }

  #section-4 #cta .button {
    line-height: 1;
  }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
  /* Header */
  .header-container {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 10px 0px;
    width: 100%;
    padding: 20px 0 0 0;
  }

  .header-container h3 {
    padding-bottom: 20px;
  }

  /* Section 1 */
  #section-1 #section-1-container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #section-1 #section-1-container #this-website-is-awesome {
    width: 120%;
    padding-left: 20px;
  }

  #section-1 #section-1-container #placeholder {
    height: 200px;
    margin-top: 50px;
    width: 107.5%;
  }

  /* Section 2 */
  #section-2 {
    height: 650px;
  }

  /* Section 3 */
  #section-3 #quote {
    font-size: 1.75rem;
  }

  #section-3 #thor {
    padding-right: 0px;
    padding-top: 10px;
  }

  /* Section 4 */
  #section-4 #section-4-container {
    width: 60%;
  }

  #section-4 #section-4-container #cta {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 30px 10px;
    text-align: center;
    line-height: 2.2;
    height: 70%;
  }

  #section-4 #cta .button {
    line-height: 1;
  }
}

/* Laptop */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Header */
  .header-container {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 10px 0px;
    width: 60%;
    padding: 20px 0 0 0;
  }

  .header-container h3 {
    padding-bottom: 20px;
  }

  /* Section 1 */
  #section-1 #section-1-container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #section-1 #section-1-container #this-website-is-awesome {
    padding-left: 20px;
  }

  #section-1 #section-1-container #placeholder {
    height: 200px;
    margin-top: 50px;
  }

  /* Section 2 */
  #section-2 {
    height: 650px;
  }

  /* Section 3 */
  #section-3 #quote {
    font-size: 1.75rem;
  }

  #section-3 #thor {
    padding-right: 0px;
    padding-top: 10px;
  }

  /* Section 4 */
  #section-4 #section-4-container {
    width: 66%;
  }

  #section-4 #section-4-container #cta {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 30px 10px;
    text-align: center;
    line-height: 2.2;
    height: 60%;
  }

  #section-4 #cta .button {
    line-height: 1;
  }
}

/* Desktop */
@media (min-width: 1025px) and (max-width: 1200px) {
  /* Header */
  .header-container {
    align-items: center;
  }

  /* Section 1 */
  #section-1 #section-1-container {
    min-width: 875px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #section-1 #section-1-container #this-website-is-awesome {
    padding-left: 20px;
  }

  #section-1 #section-1-container #placeholder {
    height: 200px;
    margin-top: 50px;
  }

  /* Section 2 */
  #section-2 #first-pair {
    display: flex;
  }

  #section-2 #second-pair {
    display: flex;
  }

  /* Section 3 */
  #section-3 #quote {
    min-width: 400px;
  }

  /* Section 4 */
  #section-4 #section-4-container {
    min-width: 875px;
  }
}

/* TV */
@media (min-width: 1201px) {
  /* Header */
  .header-container {
    align-items: center;
  }

  /* Section 1 */
  #section-1 #section-1-container {
    min-width: 875px;
  }

  /* Section 2 */
  #section-2 #first-pair {
    display: flex;
  }

  #section-2 #second-pair {
    display: flex;
  }

  /* Section 3 */
  #section-3 #quote {
    min-width: 400px;
  }

  /* Section 4 */
  #section-4 #section-4-container {
    min-width: 875px;
  }
}
